{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-6">
        <h2>{{ title }}</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(class="form-control") }}<br>
                {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.access_token.label }}<br>
                {{ form.access_token(class="form-control") }}<br>
                {% for error in form.access_token.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.confirmation_token.label }}<br>
                {{ form.confirmation_token(class="form-control") }}<br>
                {% for error in form.confirmation_token.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.secret.label }}<br>
                {{ form.secret(class="form-control") }}<br>
                {% for error in form.secret.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.group_id.label }}<br>
                {{ form.group_id(class="form-control") }}<br>
                {% for error in form.group_id.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-secondary") }}</p>
            {{message}}
        </form>
    </div>
</div>
{% endblock %}