{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-6">
        <h2>Мои боты</h2>
        <a href="/bots/create" class="btn btn-primary mb-5">Добавить бота</a>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for bot in bots %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td><a href="/bots/{{ bot.hash }}" class="text-dark">{{ bot.name }}</a></td>
                    <td>
                        <a href="/bots/{{ bot.hash }}" class="text-dark mr-3"><i class="fa fa-eye"></i></a>
                        <a href="/bots/{{ bot.hash }}/edit" class="text-dark mr-3"><i class="fa fa-edit"></i></a>
                        <a href="/bots/{{ bot.hash }}/delete" class="text-dark"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}