{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>{{ bot.name }}</h2>
        <a href="/bots" class="btn btn-secondary mb-5">Назад</a>
        <a href="/bots/{{ bot.hash }}/edit" class="btn btn-primary mb-5">Редактировать</a>
        <a href="/bots/{{ bot.hash }}/delete" class="btn btn-danger mb-5">Удалить</a>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Основные настройки</h5>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Ключ доступа: <span class="font-weight-bold">{{ bot.access_token }}</span></li>
                <li class="list-group-item">Код подтверждения: <span class="font-weight-bold">{{ bot.confirmation_token }}</span></li>
                <li class="list-group-item">Секретный ключ: <span class="font-weight-bold">{{ bot.secret }}</span></li>
                <li class="list-group-item">ID Группы: <span class="font-weight-bold">{{ bot.group_id }}</span></li>
                <li class="list-group-item">Адрес бота: <span class="font-weight-bold">https://botnet-daemon.herokuapp.com/callback/{{ bot.hash }}</span></li>
            </ul>

            <div class="card-body">
                <div class="btn-group" role="group" aria-label="Bot status">
                    <button type="button" class="btn btn-secondary" disabled>Включить</button>
                    <button type="button" class="btn btn-secondary">Выключить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Основные настройки</h5>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Ключ доступа: <span class="font-weight-bold">{{ bot.access_token }}</span></li>
                <li class="list-group-item">Код подтверждения: <span class="font-weight-bold">{{ bot.confirmation_token }}</span></li>
                <li class="list-group-item">ID Группы: <span class="font-weight-bold">{{ bot.group_id }}</span></li>
            </ul>

            <div class="card-body">
                <div class="btn-group" role="group" aria-label="Bot status">
                    <button type="button" class="btn btn-secondary" disabled>Включить</button>
                    <button type="button" class="btn btn-secondary">Выключить</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}