{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12 col-xl-6">
        <h2>Главная</h2>
        <div class="alert alert-primary" role="alert">
            Botnet Daemon - платформа для создания ботов для ваших сообществ за пару кликов. <br><br>
            Вы можете создавать не только обычных чат-ботов, но и ботов, которые в полной мере взаимодействуют с вашей группой и/или беседой.
            {% if not current_user.is_authenticated %}
            <br><br>
            Для дальнейшего взаимодействия с платформой, пожалуйста, зарегистрируйтесь.
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}